* {
    box-sizing: border-box;
}
:root {
    --primary-cl: #ff5b2e;
    --title-cl: #000958;
    --text-primary-cl: #656689;
    --Poppins-font: "Poppins", sans-serif;
    --Sora-font: "Sora", sans-serif;
}
html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: var(--Sora-font);
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.line-clamp {
    --line: 2;

    display: -webkit-box;
    -webkit-line-clamp: var(--line);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 117px;
    height: var(--height);
    background: #fff;
    color: var(--primary-cl);
    border-radius: 999px;
    border: none;
    outline: none;
    font-family: var(--Poppins-font);
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    line-height: var(--height);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
    color: var(--title-cl);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section__desc {
    margin-top: 24px;
    color: var(--text-primary-cl);
    font-family: var(--Poppins-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}
.desc-lv2 {
    font-size: 1.6rem;
    line-height: 1.87;
}

.section__desc-name {
    color: var(--title-cl);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link,
.header__sign-in {
    padding: 4px 36px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.navbar__link--active,
.navbar__link:hover,
.header__sign-in:hover {
    color: var(--title-cl);
    text-shadow: 1px 0 0 currentColor;
}

.header__btn {
    --height: 50px;

    color: var(--title-cl);
    border: 1px solid rgba(0, 9, 88, 0.7);
}
/* Hero */
.hero {
    margin-top: 74px;
}
.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}
.hero__media {
    display: flex;
    align-items: flex-end;
    padding-bottom: 94px;
    position: relative;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__img-wrap {
    width: 388px;
    height: 488px;
    background: #fe997b;
    display: flex;
    border-radius: 16px;
    border: 3px solid #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero__img-wrap--small {
    width: 186px;
    height: 244px;
    background: #faa7ad;
    margin: 0 0 -58px -24px;
    border: 2px solid #fde0e2;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor--top {
    top: 16px;
    right: -44px;
}

.hero__decor--bottom {
    left: -58px;
    bottom: 10px;
}

.hero-card {
    min-width: 250px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    left: 129px;
    bottom: 0;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero-card__body {
    padding: 18px 14px;
}

.hero-card-item {
    display: flex;
    column-gap: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 20px;
}

.hero-card-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hero-card__img-wrap {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.hero-card__img-wrap--bottom {
    background: #6597c2;
}

.hero-card__img {
    max-width: 100%;
    max-height: 100%;
}

.hero-card__info {
    position: relative;
    top: 2px;
}

.hero-card__name {
    font-size: 1.4rem;
    position: relative;
}

.hero-card__name::before,
.hero-card__name::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 1px;
    border-radius: 10px;
    opacity: 0.07999999821186066;
    background: #000958;
    height: 4px;
}

.hero-card__name::before {
    width: 118px;
    bottom: -7px;
}

.hero-card__name::after {
    width: 39px;
    bottom: -17px;
}

.hero__heading {
    max-width: 517px;
    color: var(--title-cl);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}
.hero__desc {
    max-width: 391px;
    margin-bottom: 38px;
}
.hero__btns {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: #fff;
    background: var(--primary-cl);
    min-width: 189px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-btn-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    color: var(--primary-cl);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.hero-cta-link {
    color: var(--title-cl);
    font-family: var(--Poppins-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration-line: underline;
}
/* About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}
.about__label {
    color: #5e6085;
    font-family: var(--Sora-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    max-width: 444px;
}

.about-checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}
.about-checklist__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.about-checklist__item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: var(--primary-cl);
}

.about-checklist__item::after {
    content: url(../icon/about-check.svg);
    position: absolute;
    top: 3px;
    left: 5px;
}

.about-checklist__title {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__media {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.about-card {
    position: absolute;
    min-width: 136px;
    top: 165px;
    left: 0;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    text-align: center;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-card__title {
    color: #fff;
    font-family: var(--Sora-font);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}
.about-card__desc {
    margin-top: 14px;
    max-width: 83px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}
.about-card__decor {
    position: absolute;
    top: -39px;
    right: -33px;
}

.about__img-wrap {
    width: 494px;
    border-radius: 16px;
    position: relative;
}

.about__img-wrap::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    z-index: -1;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}
.about__decor {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}

.about__media--bottom {
    justify-content: flex-start;
}
.about__img-wrap--bottom {
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap--bottom::after {
    height: 100%;
}

.about__img--bottom {
    margin: 0;
    width: 100%;
}
.about__heading--bottom {
    max-width: 543px;
}

.about__desc--bottom {
    max-width: 511px;
    margin-bottom: 52px;
}

.tab__list {
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
    position: relative;
}
.tab__list::after,
.tab-item--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.1;
    background: #ff5b2e;
    border-radius: 1px;
}

.tab-item {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    position: relative;
}

.tab-item--active::after {
    position: absolute;
    opacity: 1;
    width: 95px;
}

.tab-item__icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.tab-item__tittle {
    color: #48496a;
    font-family: var(--Sora-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 10px;
}

.tab__content {
    margin-top: 36px;
}
.tab__content-item {
    display: none;
}

.tab__desc {
    max-width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    margin-bottom: 32px;
}
.tab__more {
    display: inline-block;
    position: relative;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
.tab__more::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -5px;
    left: 0;
    background: #ff5d31;
    height: 1.5px;
    width: 100%;
    border-radius: 1px;
}

.tab__content-item--active {
    display: block;
}

/* Service */
.service {
    margin-top: 130px;
    background: #fff6ed;
    padding: 68px 0 100px 0;
}
.service__top {
    text-align: center;
}
.service__desc,
.staff__desc {
    margin: 0 0 15px 0;
}
.service__body {
    margin-top: 71px;
    display: flex;
}

.service__column:nth-child(2) {
    flex: 1;
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.service__img-wrap {
    position: relative;
    max-height: 621px;
    margin-top: 18px;
    width: 100%;
    z-index: 1;
}
.service__img-wrap::after {
    content: "";
    position: absolute;
    width: calc(100% - 44px);
    height: 350px;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 100%);
    z-index: -1;
    bottom: 25.5px;
    left: 16px;
    right: 16px;
    margin: 0 auto;
}

.service__img {
    width: 100%;
    margin-bottom: 28px;
}

.service__cta-btn,
.staff_-cta-btn {
    --height: 56px;
    min-width: 214px;
    margin-top: 27px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    transition: background 0.25s;
}

.service__cta-btn:hover,
.staff_-cta-btn:hover {
    background: var(--primary-cl);
    color: #fff;
}

.service-item {
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    margin-bottom: 24px;
    padding: 30px 22px 26px 28px;
}

.service-item:last-child {
    margin-bottom: 0;
}

.service-item__title {
    position: relative;
    color: #000958;
    font-family: var(--Sora-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    padding-left: 12px;
}
.service-item__title::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    height: 100%;
    width: 2px;
    background: linear-gradient(63deg, #ff5b2e 0%, #ffa187 100%);
    border-radius: 1px;
    rotate: 180deg;
}

.service-item__desc {
    --line: 3;

    max-width: 244px;
    margin: 18px 0 20px 0;
}

.service-item__link {
    display: inline-flex;
    align-items: center;
    padding: 4px 6px;
    margin-left: -6px;
    color: #34396a;
    font-family: var(--Sora-font);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.service-item__link:hover {
    text-decoration: underline;
}

.service-item__link::after {
    content: url(../icon/service-arrow-up.svg);
    margin: 2px 0 0 5px;
}
/* Staff */
.staff {
    padding: 130px 0;
    text-align: center;
}
.staff__list {
    margin-top: 59px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}
.staff-item__img-wrap {
    position: relative;
    width: calc(100% - 44px);
    margin: 0 auto;
    border-radius: 130px;
}

.staff-item__img-wrap::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 94%;
    bottom: 0;
    left: 0;
    background: #90ccff;
    border-radius: inherit;
}

.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../icon/staff-decor1.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../icon/staff-decor2.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../icon/staff-decor3.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../icon/staff-decor4.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 10%;
}

.staff-item__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}
.staff-item__desc {
    margin-top: 34px;
    line-height: 1;
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-family: var(--Sora-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.staff_-cta-btn {
    min-width: 193px;
    margin-top: 48px;
}
/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}
.pricing__container {
    width: 994px;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}
.pricing-switch {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.pricing-switch__body {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing-checkbox__label {
    --height: 56px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 276px;
    padding: 0 40px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    background: transparent;
    user-select: none;
}

.pricing-checkbox__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    background: var(--primary-cl);
    border-radius: inherit;
}

.pricing-checkbox__value {
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.pricing-checkbox__input:not(:checked) + .pricing-checkbox__label::before {
    top: 0;
    left: auto;
    right: 0;
    width: 131px;
}
.pricing-checkbox__input:checked
    + .pricing-checkbox__label
    .pricing-checkbox__value:nth-child(2),
.pricing-checkbox__input:not(:checked)
    + .pricing-checkbox__label
    .pricing-checkbox__value:nth-child(1) {
    color: var(--primary-cl);
}

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing-item {
    padding: 30px 28px;
    border-radius: 20px;
    background: #fff;
}

.pricing-item--active {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__type {
    color: var(--primary-cl);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: var(--Sora-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.pricing-item__price {
    display: block;
    margin-top: 24px;
    color: #000958;
    font-family: var(--Sora-font);
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03; /* 103.03% */
}

.pricing-item__btn {
    --height: 44px;

    margin-top: 22px;
    min-width: 246px;
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing-item__btn--active {
    background: var(--primary-cl);
    color: #fff;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    align-items: center;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.pricing-item__item::before {
    content: url(../icon/pricing-check.svg);
    margin-right: 12px;
}

.pricing-item__item:nth-child(4) ~ .pricing-item__item::before{
    opacity: 0.4;
}

.pricing-item:last-child .pricing-item__item:nth-child(4) ~ .pricing-item__item::before{
    opacity: 1;
}